{% extends 'base.html.twig' %}

{% block body %}

<!-- /.container -->
<section id="career-home">
  <p>
    TOGETHER WE CAN CHANGE HOW THE WORLD DOES BUSINESS<br>
    HOW THE WORLD DOES BUSINESS
  </p>
</section>
<section id="business-units">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="owl-demo" class="owl-carousel owl-theme">
            {% for n in [1,2,3,4,5,6,7,8,9] %}
                <div class="item logo-list">
                    <img src="{{ asset('web/credo/img/unite.png') }}">
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
  </div>
</section>
<section class="about-us-home">
  <p class="title-about">ABOUT US</p>
  <p class="sub-title-about">Unde omnis iste natus error sit voluptatem</p>
</section>
{% endblock %}
